.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding: 0 5%;
}

.left-year {
  display: flex;
  align-items: center;
}

.left-year span {
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

.left-year h4 {
  padding: 0 0.5rem;
}

.header-title {
  font-weight: 300;
}

.right-icons {
  display: flex;
  align-items: center;
}

.right-icons > span {
  padding: 0 1rem;
}

.main-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-secondary);
}

.main-img {
  width: 50%;
  padding: 1rem;
}

.home-img img {
  width: 100%;
  max-width: 400px;
  opacity: 0.3;
}

.home-title {
  display: flex;
  flex-direction: column;
}

.home-title h1 {
  font-size: 2.2rem;
}

.main-title p {
  font-size: 1.7rem;
}

section.contries {
  width: 100%;
}

.contries h5 {
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}
